<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>人生就是如此，你以为已经从一个漩涡逃离，其实另外一个漩涡就在你的脚下。用力蹬一脚，就进去了。所以，不需要对生活太用力，心会带着我们去该去的地方。</string>
		<key>icon</key>
		<string>0.png</string>
		<key>name</key>
		<string>琉璃梦</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>p2.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>所有的逻辑，其实就是猎人与猎物的关系。在一段关系中掌握主动权的人，绝不是那个每天胡思乱想很多的，也不是那个把两个人的关系总拿出去分析的。</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>人生初见</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>那天天气真好~</string>
		<key>icon</key>
		<string>2.png</string>
		<key>name</key>
		<string>似水年华</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>p3.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>奇妙的学习不但能使不愉快的事变得较少不愉快，而且也能使愉快的事变得更愉快。</string>
		<key>icon</key>
		<string>3.png</string>
		<key>name</key>
		<string></string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>p4.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>我愿意深深地扎入生活，吮尽生活的骨髓，过得扎实，简单，把一切不属于生活的内容剔除得干净利落，把生活逼到绝处，用最基本的形式，简单，简单，再简单.</string>
		<key>icon</key>
		<string>4.png</string>
		<key>name</key>
		<string>太阳的后裔</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>还要认识很多的人 还要发生很多的事 只是那些喜欢过的人还会再遇见么 那些感动过的事还会再怀念么.</string>
		<key>icon</key>
		<string>5.png</string>
		<key>name</key>
		<string>安东尼的夏天</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>用拒人千里之外的冷酷来掩饰自己试图与人亲近的热血沸腾 这算完美人格 还是闷骚？</string>
		<key>icon</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>桃花朵朵开</string>
		<key>vip</key>
		<integer>0</integer>
		<key>picture</key>
		<string>p6.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>Today is so good,I like this day!</string>
		<key>icon</key>
		<string>7.png</string>
		<key>name</key>
		<string>HelloWorld</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>p5.jpg</string>
	</dict>
	<dict>
		<key>text</key>
		<string>我从长辈身上学到了这项技能：将悲惨的事情当笑话轻松地讲出来，把听的人架在火上烤——你要是笑，就成了我的共犯；你要是哭，我便笑你。</string>
		<key>icon</key>
		<string>8.png</string>
		<key>name</key>
		<string>KeithSu</string>
		<key>vip</key>
		<integer>1</integer>
		<key>picture</key>
		<string>p1.jpg</string>
	</dict>
</array>
</plist>
